.menu {
    padding: 23px 0 83px 0;
    min-height: 680px;
    background: url('../../img/bg1.jpg') center (center / cover) no-repeat;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        margin-top: 37px;
        width: 600px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &-item {
            border-right: 2px dotted rgba($color: #ffff, $alpha: 0.4);
            padding: 0 13px;
            &:last-child {
                border-right: none;
                padding: 0;
            } 
            &:first-child {
                padding: 0 13px 0 0;
            }               
        }
        a {
            text-decoration: none;
        }
        &-link {
            color: $menu-color;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            @include line;
        }
    }
    &__contacts {
        display: flex;
        justify-content: flex-end;
        margin-top: 21px;
        &-phone {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &-title {
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: $menu-color;
        }
        a {
            color: $menu-color;
            text-decoration: none;
        }
        &-number {
            font-size: 19px;
            font-weight: 700;
            @include line;
        }
        &-btn {
            margin-left: 18px;
            line-height: 22px;
        }
    }
    &__title {
        margin-top: 9px;
        color: $menu-color;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 26px;
        font-family: 'Roboto Condensed', sans-serif;
        color: $main-color;
        font-size: 72px;
        font-weight: 700;
        text-align: center;
    }
    &__subheader {
        margin-top: 9px;
        font-family: 'Roboto Condensed', sans-serif;
        color: $menu-color;
        font-size: 42px;
        font-weight: 400;
        text-align: center;
    }
    &__pic {
        display: block;
        margin: 38px auto 0 auto;
    }
    &__options {
        min-height: 135px;
        display: flex;
        margin-top: 33px;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        img {
            display: block;
            width: 63px;
            height: 63px;
            object-fit: contain;
            margin: 0 auto;
        }
        &-descr {
            width: 260px;
            margin-top: 13px;
            font-size: 16px;
            font-weight: 300;
            color: $menu-color;
            line-height: 22px;
            text-align: center;
        }
    }
    &__button {
        display: block;
        margin: 40px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }

}