.title {
    &_fz14 {
        color: #2e2e2e;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    &_fz16 {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    &_fz18 {
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &_fz26 {
        color: #2e2e2e;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &_fz26white {
        margin-top: 20px;
        color: $menu-color;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }
}